<h1>Ng#index</h1>
<p>Find me in app/views/ng/index.html.erb</p>

<div ng-app="App">
  <div ng-controller="MainController">
    <button type="button" class="btn btn-success" ng-click="addNumber()">+1</button>
    <button type="button" class="btn btn-danger"  ng-click="subNumber()">-1</button>
    <div>now {{number}}!</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="/app.js"></script>
  </div>
</div>
